body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #FFF, #cfc96f);
}

#pokedex {
    position: relative;
}

#pokemon-card {
    min-height: 30vh;
    background-color: #fb6c6c;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

h1 {
    text-align: center;
}

.card-title {
    padding-top: 8px;
}

.card-type-solo {
    text-align: center;
    margin-bottom: 8px;
}

.number-name {
    margin: auto;
}

.d-none {
    display: none;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: -40px;
    min-height: 200px;
    max-width: 800px;
    min-width: 350px;
    position: fixed;
    bottom: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    padding: 24px;
    transition: all 225ms;
    left: 30vw;
}

#pokemon-background {
    position: absolute;
    bottom: 5vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 24px;
    min-width: 350px;
    max-width: 800px;
    color: white;
    background-color: #eeeeee;
    height: 550px;
    width: 50vw;
    transition: all 225ms;
    left: 30vw;
}

#pokemonImage {
    height: 200px;
    margin-top: -190px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.pokemon-info-section {
    color: black;
}

.infos {
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
}

.solo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .3s;
    background-color: rgba(0, 0, 0, .5);
}

.pokemon-number {
    font-weight: 600;
    font-size: 25px;
}

#all-pokemon-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.all-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1200px;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 140px;
    margin: 0px 5px 20px 20px;
    height: 290px;
}

.all-cards:hover {
    animation: bounce 0.5s linear;
}

.card-image {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: inline-block;
}

.card-image img {
    margin-top: 20px;
    max-width: 90%;
}

.all-cards .name {
    margin: 10px 0 5px;
    letter-spacing: 1px;
}

.all-cards .number {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 10px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px)
    }
    40% {
        transform: translateY(0px)
    }
    80% {
        transform: translateY(-2px)
    }
    100% {
        transform: translateY(0)
    }
}

.btn-more-pokemon {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 8px;
}

.btn-more-pokemon button {
    height: 50px;
    background-color: red;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.default {
    background-color: rgba(255, 255, 255, 0.6);
}

.fire {
    background-color: #fd7d24;
}

.grass {
    background-color: #9bcc50;
}

.water {
    background-color: #4592c4;
}

.poison {
    background-color: #b97fc9;
}

.bug {
    background-color: #729f3f;
}

.flying {
    background: linear-gradient( 180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.normal {
    background-color: #A4ACAF;
}

.electric {
    background-color: #efd535;
}

.ground {
    background: linear-gradient( 180deg, #f7de3f 50%, #ab9842 50%);
}

.fairy {
    background-color: #fdb9e9;
}

.fighting {
    background-color: #d56723;
}

.psychic {
    background-color: #f366b9;
}

.rock {
    background-color: #a38c21;
}

.steel {
    background-color: #9eb7b8;
}

.ice {
    background-color: #51c4e7;
}

.ghost {
    background-color: #7c62a3;
}

.dragon {
    background: linear-gradient( 180deg, #53a4cf 50%, #f16e57 50%);
}

.dark {
    background-color: #707070;
}

.card-text {
    color: black;
    padding: 4px 12px;
    margin-bottom: 8px;
}

.card-number {
    padding-bottom: 8px;
}

#pokemonInfoHead {
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
    height: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    cursor: pointer;
}

.gray {
    color: gray;
}

#pokemon-info-head div {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.flex {
    display: flex;
}

.table {
    padding: 20px;
    width: 100%;
}

.table td:first-child {
    width: 100px;
}

.table td:last-child {
    font-weight: 600;
}

.table tr {
    line-height: 40px;
}

.hp, .attack, .defense, .spAtk, .spDef, .speed, .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-view {
    width: 90%;
    background-color: rgba( 0, 0, 0, .1);
    border-radius: 100rem;
    overflow: hidden;
    height: 5px;
}

.baseStatsLine {
    display: block;
    height: 5px;
    position: relative;
    border-radius: inherit;
    animation: fill .125s forwards;
}